<%- include('header') %>
  
 <div class="container-md mb-5 mt-4">
        <div class="row">
            <h1 class="dash-head mb-4">User Dashboard</h1>
        </div>
    </div>    
     
     
      <div class="container-md">
        <div class="row mt-4 blog-details row-cols-lg-2 row-cols-sm-2 row-cols-1">
            
            <div class="col mb-4">
    <div class="card h-100 dash-link" id="addnew">
      <div class="card-body text-center">
       <a href="/add-employee">Add New Employee</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100 dash-link" id="viewall">
      <div class="card-body text-center">
        <a href="/record">View All Employee</a>
      </div>
    </div>
  </div>
            
        </div>
    </div>
    

</body>
</html>    
